<table class="table table-sm align-middle">
    <tr>
        <td>
            <div class="d-flex align-items-center gap-2">
                <span class="score-th8a watching-legend-pip"></span>
                Th8a should cover
            </div>
        </td>
        <td class="text-end">{{ row.consolidatedScores.th8a_count }}</td>
        <td class="text-end">{{ row.consolidatedScores.th8a_percent }}%</td>
    </tr>
    <tr>
        <td>
            <div class="d-flex align-items-center gap-2">
                <span class="score-highly-favorable watching-legend-pip"></span>
                Highly favorable
            </div>
        </td>
        <td class="text-end">{{ row.consolidatedScores.highly_favorable_count }}</td>
        <td class="text-end">{{ row.consolidatedScores.highly_favorable_percent }}%</td>
    </tr>
    <tr>
        <td>
            <div class="d-flex align-items-center gap-2">
                <span class="score-favorable watching-legend-pip"></span>
                Favorable
            </div>
        </td>
        <td class="text-end">{{ row.consolidatedScores.favorable_count }}</td>
        <td class="text-end">{{ row.consolidatedScores.favorable_percent }}%</td>
    </tr>
    <tr>
        <td>
            <div class="d-flex align-items-center gap-2">
                <span class="score-neutral watching-legend-pip"></span>
                Neutral
            </div>
        </td>
        <td class="text-end">{{ row.consolidatedScores.neutral_count }}</td>
        <td class="text-end">{{ row.consolidatedScores.neutral_percent }}%</td>
    </tr>
    <tr>
        <td>
            <div class="d-flex align-items-center gap-2">
                <span class="score-unfavorable watching-legend-pip"></span>
                Unfavorable
            </div>
        </td>
        <td class="text-end">{{ row.consolidatedScores.unfavorable_count }}</td>
        <td class="text-end">{{ row.consolidatedScores.unfavorable_percent }}%</td>
    </tr>
</table>
