<div class="row mt-2">
    <div class="col-4 col-xl-3 col-xxl-2 d-grid gap-0">
        {% if row.score.show.anilistShowUrl %}
            <a
                    href="{{ row.score.show.anilistShowUrl }}"
                    target="_blank"
                    class="jump-link d-inline-flex align-items-center text-decoration-none"
            >
              <span class="text-decoration-underline">Anilist</span>
              <span class="bi bi-box-arrow-up-right d-inline-flex align-items-center"></span>
            </a>
        {% endif %}
        {% if row.score.show.malShowUrl %}
            <a
                    href="{{ row.score.show.malShowUrl }}"
                    target="_blank"
                    class="jump-link d-inline-flex align-items-center text-decoration-none"
            >
              <span class="text-decoration-underline">MAL</span>
              <span class="bi bi-box-arrow-up-right d-inline-flex align-items-center"></span>
            </a>
        {% endif %}
        <a class="jump-link d-inline-block d-lg-none" href="{{ path('all_watch_index') }}#show_target_{{ row.score.show.id }}">
            Community
        </a>
        <a class="jump-link d-none d-lg-inline-block" href="{{ path('all_watch_index') }}#show_target_wide_{{ row.score.show.id }}">
            Community
        </a>
    </div>
</div>
